/** @format */
.container-fluid {
  height: 100vh;
  background: linear-gradient(90deg, rgba(88, 141, 19, 0.551) 0%, rgba(174, 190, 80, 0.68) 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  min-height: 200px;
  align-items: center;
  text-align: center;
}

#text {
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 9rem;
  text-shadow: 0 0 10px rgb(0, 0, 0); /* Changed text-box-shadow to text-shadow */
  color: rgb(17, 15, 9);
  font-weight: 700;
}

button {
  font-family: "Monsieur La Doulaise", cursive;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #508b35;
  cursor: pointer;
  border: 1px solid #284515;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #19390f, -6px -6px 12px #1d6e31;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

button:active {
  color: #022305;
  box-shadow: inset 4px 4px 12px #115119, inset -4px -4px 12px #295b0f;
}
